pypdf
langchain
accelerate
bitsandbytes
transformers[torch]
sentence_transformers
faiss_cpu
llama_index
llama-index-llms-huggingface
langchain-community
llama-index-embeddings-langchain
ctransformers
chainlit
datasets
sentencepiece
peft
bert_score
rouge_score
py7zr 
auto-gptq 
optimum
trl



